kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: {{ lookup('password', '/dev/null chars=ascii_lowercase,digits length=32') | b64encode }}
      - identity: {}